/.idea
/reports
/node_modules
/public
/site
/dist
#package-lock.json
#package.json
/*.iml
*.pyc

# User Data
bom.json
bom-enhanced.json
bom.csv
bom.html

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache
hopprcop_log.txt
hopprcop-vulnerability-results-enhanced.json

.DS_Store
.idea/*
.python-version
.vscode/*

/test.py
/test_*.*

/setup.cfg
MANIFEST.in
/setup.py
/docs/site/*
/tests/fixtures/simple_project/setup.py
/tests/fixtures/project_with_extras/setup.py
.mypy_cache

.venv
env/
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*